*{
    margin: 0;
    padding: 0;
}
.navbar_heading{
    font-size: 8vh;
    /* background-color: pink; */
    display: inline;
    padding: 1vh 4vh;
    cursor: pointer;
    color:darkslateblue;
}
.navbar_heading:hover{
    color: slateblue;
}

@media only screen and (max-width:768px) {
    .navbar_heading{
        text-align: center;
    }  
} 